:root {
  --primary: #212529;
  --secondary: #f1f1f1;
}

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.header {
  overflow: hidden;
  background-color: var(--secondary);
  padding: 20px 10px;
}

.header_title {
  font-color: var(--primary);
  text-align: center;
  font-size: 32px;
}
@media (max-width: 415px) {
  .header_title {
    font-size: 24px;
  }
}
